<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Mensagem</title>

    <link rel="stylesheet" href="/styles/css/adicionar.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Editar Mensagem</h1>
        </header>

        <form id="frm-editar">
            <input type="hidden" name="id" id="id">

            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo">

            <label for="descricao">Descrição</label>
            <input type="text" name="descricao" id="descricao">

            <button type="submit">Editar</button>
        </form>
        <a href="/">Voltar</a>
    </div>
    <script src="/scripts/js/editar.js"></script>
</body>
</html>