<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index api</title>
    <link rel="stylesheet" href="/styles/css/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>ESTOU AQUI PARA MELHORAR SEU DIA</h1>
        </header>

        <a href="/adicionar">Adicionar Mensagem</a><b> / </b>
        <a href="/listarTodos">Listar todas mensagens</a>

        <table>
            <thead>
                <tr>
                    <th style="display:none;">Id</th>
                    <th>Meu recado especial para você!</th>
                </tr>
            </thead>
            <tbody id="bodyMensagens"></tbody>
        </table><br>
        <a href="/"><button>Gerar Nova Mensagem</button></a>
    </div>
    <script src="/scripts/js/index.js"></script>
</body>
</html>