<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Mensagem</title>
    <link rel="stylesheet" href="/styles/css/remover.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Remover Mensagem</h1>
        </header>
        <form id="frm-remover">
            <input type="hidden" name="id" id="id">
            <button type="submit">Remover</button>
        </form><br>
        <a href="/">Voltar</a>
    </div>
    <script src="/scripts/js/remover.js"></script>
</body>
</html>